.main__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 45%;
}

.form__contactTitle {
  text-align: center;
}

.form__contactButtons {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

@media (max-width: 1000px) {
  .form__contact {
    width: 80%;
  }
}