.navbar ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

.navbar__mobile {
  overflow: hidden;
  height: 0;
  transition: height 5s ease-in-out;
}

.navbar__mobile ul {
  padding-top: 1rem;
  padding-bottom: 2.5rem;
  background: hsl(0 0% 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.navbar__linksDesktop {
  width: 100%;
  display: flex;
  gap: 2rem;
}

.navbar__linksMobile {
  display: none;
}

.navLink {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: transparent;
  text-underline-offset: 10px;
  text-decoration-thickness: 3px;
  transition: text-decoration 150ms ease-in-out;
}

.navLink:hover {
  text-decoration-color: black;
}

.navLink.active {
  font-weight: 900;
  text-decoration-color: black;
}

@media (min-width: 1000px) {
  .navbar__mobile {
    display: none;
  }
}

@media (max-width: 1000px) {
  .navbar__linksDesktop {
    display: none;
  }
  .navbar__linksMobile {
    display: flex;
    width: 100%;
  }
}
