<html>
  <head>
        <title>Personal Web</title>
        <!-- Font -->
        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
        />
        <!-- Bootstrap -->
        <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous"
        />
        <!-- CSS -->
        <link rel="stylesheet" href="css/all.css" />
        <link rel="icon" href="images/logo/crown.png">
  </head>
  <body>
    <!-- Nav Bar -->
    <nav class="p-3">
      <ul class="d-flex gap-5 container-fluid flex-nowrap align-items-center justify-content-start" >
        <!-- Logo Nav Bar -->
        <li>
          <a href="/">
            <img width="50" src="images/logo/crown.png" />
          </a>
        </li>

        <!-- Main Nav Bar -->
        <div class="d-flex gap-4 align-items-center w-100 d-none d-md-flex">
          <li>
            <a class="navLink active" href="/">Home</a>
          </li>
          <li>
            <a class="navLink" href="add-projects">Add Projects</a>
          </li>
          <li class="ms-auto">
            <a class="btn main" href="contact">Contact Me</a>
          </li>
        </div>
        <div class="ms-auto d-block d-md-none">
          <button onclick="openNavbar(event)">
            <i class="fa-2xl fa-solid fa-bars"></i>
          </button>
        </div>
      </ul>
    </nav>

    <!-- Nav Bar Mobile -->
    <nav
      id="navbar__mobile"
      class="overflow-hidden d-md-none"
      style="height: 0"
    >
      <ul class="py-3 bg-white d-flex flex-column align-items-center gap-4">
        <li>
          <a href="/" class="navLink active">Home</a>
        </li>
        <li>
          <a href="add-projects" class="navLink">Add Project</a>
        </li>
        <li>
          <a href="contact" class="btn main">Contact Me</a>
        </li>
      </ul>
    </nav>

    <!-- Main -->
    <main class="pt-5" style="background-color: hsl(210 17% 91%)">
      <!-- Profile -->
      <section class="d-flex flex-column flex-lg-row gap-5 mx-auto bg-white p-5 mb-5 rounded shadow-lg card__width" >
        <div class="d-flex flex-column gap-3" style="flex-basis: 60%">
          <h1 class="fs-2 fw-bold">Hi Welcome To My Hut</h1>
          <p style="font-size: 14px">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi, dolorum? Quisquam laudantium fugiat, inventore fuga id ea dicta quaerat maiores corporis soluta voluptates provident cum eius dolores velit magni saepe error nisi, porro molestiae non deserunt necessitatibus, explicabo aperiam. Accusamus, dolorem qui modi nesciunt culpa consequatur adipisci pariatur dicta cum iusto, tempore, quaerat a?
          </p>
          <div class="d-flex gap-3">
            <button class="btn main">Contact</button>
            <button class="btn alt">Download CV
              <i class="fa-solid fa-download"></i>
            </button>
          </div>
          <!-- Social -->
          <div class="mt-auto d-flex align-items-center justify-content-center justify-content-lg-start gap-3" >
            <a href="#" class="pe-auto">
              <i class="fa-2xl fa-brands fa-linkedin"></i>
            </a>
            <a href="#" class="pe-auto">
              <i class="fa-2xl fa-brands fa-square-instagram"></i>
            </a>
            <a href="#" class="pe-auto">
              <i class="fa-2xl fa-brands fa-square-facebook"></i>
            </a>
            <a href="#" class="pe-auto">
              <i class="fa-2xl fa-brands fa-square-x-twitter"></i>
            </a>
          </div>
        </div>

        <!-- BootStrap -->
        <div style="flex-basis: 40%">
          <div class="mx-auto mx-lg-0 shadow-lg rounded overflow-hidden profile__width" >
            <img
              class="w-100 object-fit-cover"
              style="height: 300px"
              src="images/profile.jpg"
            />
            <div class="p-2 text-center">
              <strong class="fs-4">Keenan Permana</strong>
              <p style="font-size: 14px">Mahasiswa</p>
            </div>
          </div>
        </div>
      </section>

      <!-- My Project -->
      <section class="bg-white">
        <h2 class="text-center py-5 fw-bold">MY PROJECTS</h2>
        <div
          id="projects__container"
          class="d-flex flex-wrap flex-column flex-md-row gap-3 p-3 mx-auto"
          style="width: 90%"
        >
          <div class="my-3 d-flex flex-column p-3 rounded shadow-lg project__item" >
            <a class="d-flex flex-column gap-3 mb-5" href="project">
              <img
                class="w-full rounded object-fit-cover"
                style="height: 300px"
                src="images/project.png"
              />
              <div>
                <h3 class="project__title fs-5 fw-bold">
                  E-Learning Web
                </h3>
                <p
                  class="mt-2 fw-bolder"
                  style="font-size: 14px; color: hsl(0 0% 0% / 70%)"
                >
                  Duration: 3 Month
                </p>
                <p style="font-size: 14px; color: hsl(0 0% 0% / 70%)">
                  Posted at: 1 August 2023
                </p>
              </div>
              <p class="project__description">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim,
                reprehenderit quos architecto esse porro dolore ducimus
                molestiae quasi pariatur? A cumque iure accusamus aperiam quis
                corrupti architecto est provident quia sapiente. Voluptas
                inventore ratione odio aliquid magni blanditiis quis id odit
                eius mollitia ducimus ut praesentium, tenetur reiciendis
                doloremque! Distinctio?
              </p>
              <div class="d-flex align-items-center gap-3">
                <i class="fa-2xl fa-brands fa-node"></i>
                <i class="fa-2xl fa-brands fa-react"></i>
                <img
                  width="32"
                  src="images/logo/nextjs.svg"
                  alt="nextjs logo"
                  srcset=""
                />
                <img
                  width="32"
                  src="images/logo/typescript.svg"
                  alt="typescript logo"
                  srcset=""
                />
              </div>
            </a>
            <div class="d-flex gap-3">
              <button class="btn main">Edit</button>
              <button class="btn alt">Submit</button>
            </div>
            <div class="project__timeAfterPosted">
              <p>a Few Seconds Ago</p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- Script -->
    <script src="js/navbar.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>